*{
    margin: 0%;
    padding: 0%;
}
.navbar{
    width: 100%;
    background: rgb(144, 238, 214);
    background-position: center;
    background-size: cover;
    height: 100px;
}
.nav-link:hover {
    width: 1200px;
    height: 75px;
    margin: auto;
    text-align: right;
    color:gray;
}

.content{
    color:black;
    font: 80px;
    padding-bottom: 400px;
    margin-bottom: 50px;
    text-align: center;
}
.image{
    image-rendering: auto;
}