*{
    margin: 0%;
    padding: 0%;
}
.navbar{
    width: 100%;
    background: rgb(144, 238, 214);
    background-position: center;
    background-size: cover;
    height: 100px;
}
.nav-link:hover {
    width: 1200px;
    height: 75px;
    margin: auto;
    text-align: right;
    color:gray;
}

.content{
    color:black;
    font: 80px;
    padding-bottom: 400px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 30px;
}
.image{
    image-rendering: auto;
    border-radius: 100%;    
    margin-block-end: 10px;
    display: flex;
    justify-content: center;
}
.content .par{
    padding-left: 20px;
    padding-bottom: 2px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1.3px;
    line-height: 30px;
    color: black;
    font-size: 30px;

}


.content h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}
.content .cn{
    width: 160px;
    justify-content: center;
    align-items: center;

}
.content .call{
    font-size: 25px;
}
ul li{
    list-style:none ; 
    margin-left: 130px;
    margin-top: 28px;
    font-size: 15px;
}
ul li a{
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition: 0.4s ease-in-out;

}
.icon {
    background-color: rgb(231, 229, 212);
    text-align: center ;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
    background-position: center;


}
.call {
    font-size:large;
}
body{
    background-color: rgb(54, 166, 218);
    border-style: solid;
    height: 10px;
}
h1{
    float: inline;
    text-align: center;
}
.title {
    text-align: center;
}
.menu {
    border-radius: 100%;    
    margin-block-end: 10px;
    display: flex;
    justify-content: center;
}
.content img {
    border-radius: 100%;
    height: 90vh;
    width: 100vh;
    border-style: solid;
}
.span {
    text-align: center;
}
.button b {
    text-align: center;
}